<% if user_signed_in? %>
  <li class='nav-item'><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li class='nav-item'><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li class='nav-item'><%= link_to 'Sign in', new_user_session_path  %></li>
  <li class='nav-item'><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>

<br>
<br>
<h3>Welcome Home !</h3>

<p><%= link_to 'My Files:', attachments_index_url %> </p>

