<% if user_signed_in? %>
  <li class='nav-item'><%= link_to 'Edit account', edit_user_registration_path  %></li>
  <li class='nav-item'><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li class='nav-item'><%= link_to 'Sign in', new_user_session_path %></li>
  <li class='nav-item'><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
<br>

<%= link_to "Uploaded Files", attachments_index_path %>   
<br>   
<br>    
<div class="container">   
<% if !@attachment.errors.empty? %>   
   <div>   
         
      <ul>   
         <% @attachment.errors.full_messages.each do |msg| %>   
            <li><%= msg %></li>   
         <% end %>      </ul>   
         
   </div>   
<% end %>   
  
<div>   
   <%= form_for @attachment,url: attachments_create_path(@attachment), html: { multipart: true } do |f| %>   
      <%= f.label :name %>   
      <%= f.text_field :name %>   
      <br><br>   
      <%= f.hidden_field :user_id,:value => current_user.id %> 
      <%= f.label :attachment %>   
      <%= f.file_field :attachment %>   
      <br>   
      <%= f.submit "Save" %>   
   <% end %>   
</div>   
</div>  
